{% load static %}
{% block content %}

<footer class="footer">
    <div class="container bottom_border">
        <div class="row">
           <div class="col-lg-3 col-md-6 col-sm-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Postal Address: </h5>
                <!--headin5_amrc-->
                <p class="mb10">Pepper Research Station Kerala <br>Agricultural University <br> Panniyoor Kerala 670142</p>
                <p><i class="fa fa-phone"></i>+91-460-2227287 </p>
                <p><i class="fa fa-phone"></i>+91-8921082050 </p>     
                <p><i class="fa fa fa-envelope"></i> prspanniyur@kau.in </p>
           </div>
           <div class="col-lg-3 col-md-6 col-sm-6 col">
                <h5 class="headin5_amrc col_white_amrc pt2">Follow us</h5>
                <!--headin5_amrc ends here-->
                <ul class="footer_ul2_amrc">
                    <li>
                        <a href="#"><i class="fab fa-twitter fleft padding-right"></i> </a>
                        <p>Pepper Research station Kerala...<a href="#">http://prspanniyur.kau.in/</a></p>
                    </li>  
                </ul>
                <!--footer_ul2_amrc ends here-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <h5 class="headin5_amrc col_white_amrc pt2">Public Information Officer: </h5>
                <!--headin5_amrc-->
                <ul style="color: white;">
                    <p>Professor & Head</p>

                </ul>
                <!--footer_ul_amrc ends here-->
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 ">
                <h5 class="headin5_amrc col_white_amrc pt2">Research Stations :</h5>

                <ul style="color: white;">
                    <li>ICAR- Indian Institute of Spices Research (IISR), Vellimadukunnu, Kozhikode </li>
                    <li>KSCSTE- The Malabar Botanical Garden and Institute for Plant Sciences (MBGIPS)</li>
                    <li>Zoological Survey of India (ZSI), Western Ghat Research Center (WGRC) Calicut</li>
                </ul>
                <!--headin5_amrc-->
                <!--<ul class="footer_ul_amrc">
                    <li class="media">
                        <div class="media-left">
                            <img class="img-fluid" src="{% static 'images/post-img-01.jpg' %}" alt="" />
                        </div>
                        <div class="media-body">
                            <p>How to find best dog food?</p>
                            <span>22 Sep 2018</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <img class="img-fluid" src="{% static 'images/post-img-02.jpg' %}" alt="" />
                        </div>
                        <div class="media-body">
                            <p>How to find best dog food?</p>
                            <span>34 Sep 2018</span>
                        </div>
                    </li>
                    <li class="media">
                        <div class="media-left">
                            <img class="img-fluid" src="{% static 'images/post-img-03.jpg' %}" alt="" />
                        </div>
                        <div class="media-body">
                            <p>How to find best dog food?</p>
                            <span>30 Sep 2018</span>
                        </div>
                    </li>
                </ul>-->
                <!--footer_ul_amrc ends here-->
            </div>
        </div>
    </div>
     <!--<div class="container">
        <div class="footer-logo">
            <a href="#"><img src="{% static 'images/footer-logo.png' %}" alt="" /></a>
        </div>
        <!--foote_bottom_ul_amrc ends here-->
         <!--<p class="copyright text-center">All Rights Reserved. &copy; 2018 <a href="#">N & LW Lawn Care</a> Design By : 
            <a href="https://html.design/">html design</a>
        </p>
        <ul class="social_footer_ul">
            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>-->
        <!--social_footer_ul ends here-->
    </div>-->
</footer>
    <!--footer starts from here-->
    
	  
<!-- Bootstrap core JavaScript -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
{% endblock %}