{% block content %}
{% load static %}

{% include 'header.html' %}

 <!--/ Intro Single star /-->
 <section class="intro-single">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="title-single-box">
            <h1 class="title-single">Result</h1>
          </div>
        </div>
      
      </div>
    </div>
  </section>
  <!--/ Intro Single End /-->

    <!--/ Contact Star /-->
    <section class="contact">
        <div class="container">
          <div class="row">
           
            <div class="col-sm-12 section-t8">
              <div class="row">
                <div class="col-md-12">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>user</th>
                                <th>Image</th>
                                <th>Result </th> 
                            </tr>
                        </thead>
                        <tbody>
                          {% for i in result %}
                            <tr>
                                <td class="price-pr">{{i.u_id}}</td>
                             
                              <td class="price-pr"><img src="media/{{i.image}}" width="200" height="100" alt=""></td> 
                                <td class="price-pr">{{i.result}}</td>
                            </tr>
                            {% endfor %}
                           
                        </tbody>
                    </table>


                </div>
    
              </div>
            </div>
          </div>
        </div>
      </section>
      <!--/ Contact End /-->

{% include 'footer.html' %}

{% endblock %}